.overview-box {
    width: 32%;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.expire-box {
    width: 48%;
}

.expire-box-data {
    border-radius: 0.25rem;
    padding: 0.25rem 0 1rem 0;
    margin-bottom: 0.75rem;
}