.frame-box {
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    margin: 1rem;
}

.frame-bottom, .frame-top {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1281px) {
    .sidebar, .footer {
        width: 17vw;
    }
}

@media screen and (max-width:1025px) {
    .sidebar, .footer {
        width: 5vw;
    }

    .sidebar-item-text {
        display: none;
    }
}